html{
    font-size: x-large;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    position: absolute;
    height: 50%;
    width:100%;
}
label{
    margin-left: 10px;
}
input[type=text] , input[type=date]{
    width:100%;
    padding: 12px 20px;
    margin: 10px 10px;
    background-color: #f1f1f1;
    border: none;
}
button{
    background-color: rgb(14, 146, 223);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
    float: right;
    font-size: 100%;
}
@media screen and (max-width: 300px){
    .nxtbtn{
      width: 100%;
    }
} 