body {
  padding-top: 77px;
  padding-bottom: 30px;
  background-color:#fafafa;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
.navbar-nav {
  float: right;
  margin: 0;
 font-size: 22px;
} 
.navbar-fixed-top{
background-color:white;
}  
.navbar-brand,
.fa{
color:black;
cursor: pointer;
}
.ttt{
  box-sizing: content-box;
  padding:1%;
  margin-right:3%;
  margin-left:3%;
  margin-top:3%;
  margin-bottom:6%;
  max-width: 100%;
  width:92%;
  /* display:flex; */
  /* border-bottom: 1px solid rgb(245, 210, 210); */
}
.container1{
  margin-right: 7%;
}
.imgb{
  cursor:pointer;
  border-radius: 50%;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  height: 12%;
  width:100%;
  border-color: transparent;
  background-color: transparent;
}
section{
  align-items: stretch;
  box-sizing: border-box;
}
.sec{
  margin-bottom: 3%;
  margin-left: 0;
  margin-right:0;
}
h2{
  display: block;
  margin: 0;
  padding: 0;
  border:0;
}
.btn{
  background-color: transparent;
  border: 1px solid rgb(199, 194, 194); 
} 
#tabs{
  background: #007b5e;
}
#tabs h6.section-title{
    color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #f3f3f3;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: black;
    font-size: 20px;
}

.navbar-fixed-bottom {
  display:none;
}

@media only screen and (max-width: 767px) {
 .navbar-fixed-bottom {
   display:initial;
   background-color:#ffffff ;
 }
}
.navbar-fixed-bottom .fa{
 display:none;
}

@media only screen and (max-width: 767px) {
 .navbar-fixed-bottom .fa{
   display:initial;
   font-size:150%;
   display:inline-block;
   width:19%;
 }
 .navbar-nav{
   display:none;
 }
 #username{
   font-size:19px;
   font-weight: bold;
   margin-bottom: 5%;
 }
 body {
  padding-top: 10px;
  padding-bottom: 30px;
  background-color:#fafafa;
}
.btn{
  margin-top: 2%;
}
}

